
.main-container {
  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  /* padding: 5%;
  border: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%); */
  padding: 5px;
  /* border-style: groove;
  border-width: 1em;
  border-color: chartreuse;
  border-radius: 5%; */
  margin: -70px;
  margin-top: -50px;


}



.content-container:hover {
   
    color: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.content-container::before::after {
  top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
}

.content-container::before {
    border-top: 12px solid #ff5900;
    border-bottom: 12px solid #ff5900;
    transform: scale3d(0,1,1); 
  }

.content-container::after {
    border-left: 12px solid #ff5900;
    border-right: 12px solid #ff5900;
    transform: scale3d(1,0,1); 
  }

.content-container:hover::before::after {
    transform: scale3d(1,1,1); 
    transition: transform 0.5s;
}


.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  

  /* padding: 25%;
  width: 100%;
  margin: 15%;
  display: flex;
  justify-content: center;
  align-items: center; */
}

img {
  
  align-self: center;
  
}

.typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40%;
  margin-top: 5%;
}


.enterButton {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: monospace;
  font-size: 44px;
  font-weight: 300;
  justify-content: center;
  line-height: 24px;
  margin-top: 5px;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 46px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .enterButton {
    padding: 19px 32px;
  }
}

.enterButton:before,
.enterButton:after {
  border-radius: 80px;
}

.enterButton:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.enterButton:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.enterButton:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.enterButton:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.enterButton:active:not(:disabled) {
  color: #ccc;
}

.enterButton:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.enterButton:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.enterButton:disabled {
  cursor: default;
  opacity: .24;
}

